@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (_user.IsInRole("Admin"))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Admin</a>
        <ul class="@CssClass">
            <li><a class="dropdown-item" href="/blog/settings">Blog Settings</a></li>
            <li><a class="dropdown-item" href="/page/list">Manage Pages</a></li>
            <li><a class="dropdown-item" href="/post/list">Manage Posts</a></li>
        </ul>
    </li>
}

@code {
    
    private ClaimsPrincipal _user;

    [Parameter]
    public string CssClass { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        _user = authState.User;
    }
    
}