@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Naif.Core.Constants
@using Naif.Core.Framework
@using Naif.Core.Models

@inherits Naif.Blog.Razor.Framework.NaifComponentBase

@if (_user.IsInRole(RoleNames.Admin))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Admin</a>
        <ul class="@CssClass">
            <li><a class="dropdown-item" href="/blog/settings">Blog Settings</a></li>
            @if (IncludePages)
            {
                <li><a class="dropdown-item" href="/page/list">Manage Pages</a></li>
            }
            <li><a class="dropdown-item" href="/post/list">Manage Posts</a></li>
        </ul>
    </li>
}

@code {
    
    private User _user;

    [Parameter]
    public string CssClass { get; set; }
    
    [Parameter]
    public bool IncludePages { get; set; }
    
    protected override async Task OnParametersSetAsync()
    {
        _user = PageState.User;
    }
}