@using Naif.Blog.Models
@using Naif.Core.Models

@inherits Naif.Blog.Razor.MenuComponentBase

<section class="categoryList">
    <h2>Categories</h2>
    <MenuBar Menu="@_menu" CssClass="@CssClass"></MenuBar>
</section>

@code {
    private Menu _menu;
    
    [Parameter]
    public int Count { get; set; } = -1;
    
    [Parameter]
    public IList<Category> Categories { get; set; }

    protected override void OnParametersSet()
    {
        _menu = new Menu
        {
            IsActiveCssClass = "active",
            Items = new List<MenuItem>()
        };
			
        var categories = (Count < 0) 
            ? Categories.OrderByDescending(c => c.Count).ToList()
            : Categories.OrderByDescending(c => c.Count).Take(Count).ToList();
        foreach (var category in categories)
        {
            var menuItem = new MenuItem()
            {
                IsActive = false,
                Link = $"/category/{category.Name}",
                Text = $"{category.Name} - ({category.Count})"
            };
            _menu.Items.Add(menuItem);
        }
    }
}