@using Naif.Core.Models

@inherits MenuComponentBase

<section class="recentArticles">
    <h2>Recent Articles</h2>
    <MenuBar Menu="@_menu" CssClass="@CssClass" PageState="@PageState"></MenuBar>
</section>

@code {

    private Menu _menu;
    
    protected override void OnParametersSet()
    {
        _menu = new Menu
        {
            IsActiveCssClass = "active",
            Items = new List<MenuItem>()
        };

        foreach (var post in Posts)
        {
            var menuItem = CreateMenuItem(post);
            if (post.LastModified > post.PubDate.AddDays(1))
            {
                menuItem.Text += "<small><em> -  updated</em></small>";
            }


            _menu.Items.Add(menuItem);
        }
    }
}