@using Naif.Blog.Models
@using Naif.Blog.Services

@inherits Naif.Blog.Razor.MenuComponentBase

@{
    void RenderParentBreadcrumb(Post post)
    {
        if (Posts != null)
        {
            var parentPost = Posts.Single(p => p.PostId == post.ParentPostId);
        
            if (!String.IsNullOrEmpty(parentPost.ParentPostId))
            {
                RenderParentBreadcrumb(parentPost);
            }
            RenderBreadcrumb(parentPost);            
        }
    }

    void RenderBreadcrumb(Post post)
    {
        var menuItem = CreateMenuItem(post);
        <li class="breadcrumb-item"><a href="@GetMenuLink(menuItem)">@((MarkupString)menuItem.Text)</a></li>
    }
}

<nav style="--bs-breadcrumb-divider: '@Separator';">
    <ol class="breadcrumb">
        @{
            if (!String.IsNullOrEmpty(Post.ParentPostId))
            {
                RenderParentBreadcrumb(Post);
            }
            RenderBreadcrumb(Post);            
        }
    </ol>
</nav>

@code {
    
    [Parameter]
    public string Separator { get; set; }
    
    [Parameter]
    public Post Post { get; set; }
    
    protected override void OnParametersSet()
    {
        
    }
}