@using Naif.Blog.Models
@using Naif.Blog.Services

@inherits Naif.Blog.Razor.MenuComponentBase

@{
    void RenderParentBreadcrumb(Post post)
    {
        var parentPost = Posts.SingleOrDefault(p => p.PostId == post.ParentPostId);

        if (parentPost != null)
        {
            if (!String.IsNullOrEmpty(parentPost.ParentPostId))
            {
                RenderParentBreadcrumb(parentPost);
            }
            RenderBreadcrumb(parentPost);            
        }
    }

    void RenderBreadcrumb(Post post)
    {
        var menuItem = CreateMenuItem(post);
        if (post.PostType == PostType.Spacer)
        {
            <li class="breadcrumb-item">@((MarkupString)menuItem.Text)</li>
        }
        else
        {
            <li class="breadcrumb-item"><a href="@GetMenuLink(menuItem)">@((MarkupString)menuItem.Text)</a></li>
        }
    }
}

<nav style="--bs-breadcrumb-divider: '@Separator';">
    <ol class="breadcrumb">
        @{
            if (!String.IsNullOrEmpty(Post.ParentPostId))
            {
                RenderParentBreadcrumb(Post);
            }
            RenderBreadcrumb(Post);            
        }
    </ol>
</nav>

@code {
    
    [Parameter]
    public string Separator { get; set; }
    
    [Parameter]
    public Post Post { get; set; }
    
    protected override void OnParametersSet()
    {
        
    }
}